ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.logo-img {
    max-width: 60%;
    max-height: 60%;
    
}

.right-topnav {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 20px;
    margin-left: 450px;
    text-decoration: none;
}

.topNav-div {
    background-image: linear-gradient(to right,#dfdddf , orange);
}