
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li.right {
    float: right;
}

@media screen and (max-width: 600px){
    li.right,
    li {float: none;}
    
}


.navlink-a {
    display:block;
    color: black;
    text-align: center;
    padding: 20px 36px;
    text-decoration: none;

}

.center {
    justify-content: center;
    padding-left: 50vh;
    padding-right: 50vh;
    background-image: linear-gradient(180deg, #d8d6d8,#f8f6f7);
}

